@tailwind base;
@tailwind components;
@tailwind utilities;
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
  background-color: rgb(255,254,254);
  overflow-x: hidden;
}

.bg-body{
  background-color: rgb(255,254,254);
}
.shadow-modal-login {
  box-shadow: -4px -4px 22px -3px rgba(0,0,0,0.1);
}

.ReactCollapse--collapse {
  max-width: 800px;
  border: 1px solid rgba(3, 169, 244, 0.3);
  border-radius: 10px;
  background-color: rgba(100, 255, 100, 0.1);
  transition: height 250ms;
}

.ReactCollapse--content {
}

.bg-primary {
  background-color: #54ac4c;
}

.bg-primary-selected {
  background-color: #75ba6f;
}

.text-primary {
  color: #54ac4c;
}

.experience__item__div:hover {
  background-color: #75ba6f;
}

/*----------------------------------------------- login */
.ripple-button {
  cursor: pointer;
  overflow: hidden;
  @apply relative rounded-lg bg-primary hover:bg-green-800 transition-all duration-500 text-white font-semibold text-sm py-2 
}



.ripple-span{
  position: absolute;
  background-color: #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: ripple-animation 0.5s linear infinite;
}

@keyframes ripple-animation {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}


/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
} */

.swiper .swiper-pagination-bullets {
  position: relative;
  bottom: 30px !important;
}

.swiper .swiper-pagination-bullet {
  background-color: #ffffff !important;
  width: 12px;
  height: 12px;
  opacity: 1;
  
}

.swiper .swiper-pagination-bullet-active {
  background-color: #3e8238 !important;
}

@media (min-width: 200px) {
  .swiper .swiper-pagination-bullets {
    position: relative;
    bottom: 80px !important;
  }  
}

@media (min-width: 640px) {
  .swiper .swiper-pagination-bullets {
    position: relative;
    bottom: 85px !important;
  }  
}

@media (min-width: 640px) {
  .login__container {
    width: 420px;
    max-width: 450px;
  }  
}
