.acceso__rapido__li__icon {
    @apply text-gray-500 text-2xl text-opacity-75;
}

.acceso__rapido__li__text {
    @apply text-gray-600 font-medium text-sm;
}

.acceso__rapido__li:hover .acceso__rapido__li__icon,
.acceso__rapido__li:hover .acceso__rapido__li__text {
    color: #54ac4c !important;
}

.text-primary{
    color: #54ac4c;
}

/* .swiper {
    width: 100%;
    height: 100%;
} */

.swiper-slide {
    background: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divisar__swiper [class^="swiper-button-"]::after{
    font-size: 16px;
    color: #000;
}

.divisar__swiper [class^="swiper-button-"]{
    width: 5px;
}

.accordion__cuentas > h2 >  button {
    @apply bg-gray-100 hover:bg-gray-200 px-5 h-14 rounded-xl;
}

.acc__edit-account-alias-btn{
    @apply p-[6px] rounded-full transition-all ease-in-out duration-1000
}
.acc__edit-account-alias-btn:hover {
    @apply bg-gray-200
}

.acc__edit-account-alias-btn > .acc__edit-account-alias-btn-icon{
    @apply text-2xl text-gray-600;
}
.acc__edit-account-alias-btn:hover > .acc__edit-account-alias-btn-icon {
    @apply text-2xl text-gray-600;
}

@media (min-width: 1200px) {
    .divisar__swiper [class^="swiper-button-"]::after{
        font-size: 20px;
    } 
}
  
